/* estilos gerais */
body {
  margin: 0px;
  background-color: #e7e7e7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* header */
.body {
  overflow: hidden;
}

.body,
.body * {
  box-sizing: border-box;
}

main {
  padding: 10px 20px 30px 20px;
}

.body {
  width: 430px;
  margin: 5vh auto;
  background: #ffffff;
  border: solid 4px rgba(0, 0, 0, 0.452);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

header {
  padding: 8px 10px 10px 10px;
  background: #505599;
  color: white;
  position: relative;
  z-index: 1;
  overflow: visible auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ion-icon {
  font-size: 1.5rem;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-user {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 2px 10px;
  border: solid 1px white;
  border-radius: 15px;
}

.menu-login {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-busca {
  display: flex;
  align-items: end;
  gap: 10px;
}

.header-logo {
  width: 40%;
}

.header-logo img {
  width: 70%;
}

.header-busca {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: -40px;
}

.header-busca input {
  height: 45px;
  width: 110%;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}

.header-busca input:focus {
  outline: none;
  border: 2px solid #49174c;
}

.header-busca input::placeholder {
  color: #bfbfbf;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header-busca a {
  position: absolute;
  right: 25px;
  top: 94px;
  color: #afafaf;
}

.header-local {
  display: flex;
  gap: 3px;
  align-items: center;
}

.header-local p {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

/* footer */
footer {
  background: #505599;
  padding: 20px 10px 10px 0px;
}

.footer-flex {
  display: flex;
  gap: 15px;
}

.footer-logo img {
  width: 100px;
}

.footer-contato,
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer-flex h3 {
  font-size: 16px;
  color: #090909;
}

.footer-flex p {
  font-size: 12px;
  color: #161616;
  font-weight: 600;
}

footer > p {
  margin: 15px 0 0 15px;
  font-size: 12px;
  color: #212121;
}

/* página home */
.home-slogan h1 {
  font-family: "Poppins";
  font-size: 28px;
  color: #49174c;
  margin-bottom: -5px;
}

.home-slogan h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #646464;
  position: relative;
  left: 60px;
}

.home-secao {
  margin-top: 30px;
  margin-bottom: 40px;
}

.home-secao-titulo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.home-secao-titulo h3,
.home-secao-titulo p {
  font-size: 16px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: #444444d7;
}

.home-secao-titulo p {
  font-size: 12px;
  text-transform: unset;
  text-decoration: underline;
  cursor: pointer;
}

.loja-cards {
  display: flex;
  gap: 15px;
}

.loja-cards .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78px;
  height: 90px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.loja-cards .card-item:hover {
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.25);
  padding-left: 45px;
  padding-right: 45px;
}

.card-item h4 {
  font-size: 13px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.categoria-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
}

.categoria-cards .card-item {
  display: flex;
  justify-content: center;
  width: 115px;
  height: 80px;
  padding: 15px 15px 0px 5px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.219);
  cursor: pointer;
}

.categoria-cards .card-item:hover {
  background-color: rgba(224, 224, 224, 0.3);
}

.categoria-cards .card-item img {
  width: 47%;
  align-self: flex-start;
}

.categoria-cards .card-item h4 {
  font-size: 11px;
  align-self: flex-end;
}

#titulo-lista {
  cursor: pointer;
}

.lista {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  margin-top: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
}

.lista-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lista-item label {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  font-weight: 500;
}

.home-assistente {
  margin-bottom: 0px;
}

.assistente-cards {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.assistente-cards .card-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.assistente-cards .card-item:hover {
  .assistente-icone {
    border: 5px solid #49174c;
  }
}

.assistente-icone {
  background-color: #eee;
  padding: 20px;
  border-radius: 120%;
  border: 3px solid #49174c;
  display: flex;
  justify-content: center;
}

.assistente-icone img {
  width: 32px;
  height: 32px;
}

.assistente-cards h4 {
  text-align: center;
}

/* página de busca */
.busca-inicio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.busca-titulo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.busca-titulo ion-icon {
  color: #231f20;
  font-size: 20px;
}

.busca-titulo h1 {
  font-size: 24px;
  font-weight: 700;
  color: #313131;
}

.busca-inicio p {
  margin-left: 20px;
  font-size: 14px;
}

.busca-inicio span {
  font-weight: 700;
  font-size: 20px;
  color: #2f2f2f;
}

.busca-menus {
  margin-top: 30px;
}

.busca-filtros {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filtros-item {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  padding: 5px 15px;
}

.rotated {
  transform: rotate(270deg);
  color: #555555;
}

.filtros-resultado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtros-resultado > p {
  font-size: 14px;
  color: #5c5c5c;
}

.filtros-resultado div {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 5px 15px;
}

.filtros-resultado div > p {
  font-size: 16px;
  color: #4b4b4b;
}

.busca-resultados {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resultado-item {
  display: flex;
  gap: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 15px 0 5px 10px;
}

.resultado-item:hover {
  background-color: #d9d9d9;
}

.resultado-item img {
  width: 100px;
  height: 100px;
}

.resultado-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.resultado-info div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultado-info div:nth-child(1) h2 {
  font-size: 20px;
  font-weight: 700;
  color: #2f2f2f;
}

.resultado-info div:nth-child(1) ion-icon {
  color: #c7c7c7;
  font-size: 24px;
  margin-right: 8px;
}

.resultado-info div:nth-child(2) p:nth-child(1) {
  font-size: 14px;
  margin-bottom: -8px;
}

.resultado-info div:nth-child(2) p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: #2f2f2f;
}

.resultado-info p:nth-last-child(1) {
  font-size: 13px;
  color: #444444;
  margin-top: 5px;
}

/* página do item */
.page-item .titulo {
  margin-bottom: 20px;
}

.item-produto {
  display: flex;
  gap: 10px;
  background-color: #f9f9f9;
  margin: 0px -20px 20px -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.item-produto img {
  width: 25%;
  height: 25%;
  align-self: center;
  padding: 8px 0px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.produto-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.produto-info div:nth-child(1) h2 {
  font-size: 13px;
  font-weight: 700;
  color: #0a440f;
  margin-top: 5px;
}

.produto-info div:nth-child(1) p {
  font-size: 11px;
  font-weight: 500;
  color: #000;
}

.produto-info div:nth-child(2) p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.produto-info div:nth-child(2) p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: #2f2f2f;
}

.produto-info div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.produto-info ion-icon:hover {
  color: red;
  cursor: pointer;
}

.produto-info div:nth-child(3) p {
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.produto-info div:nth-child(3) p:hover {
  background-color: #dfdfdf;
}

.item-detalhes {
  width: 30vw;
  margin-bottom: 30px;
}

.item-detalhes h2 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
}

.detalhe-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detalhe-info div {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.detalhe-info div p {
  font-size: 13px;
  font-weight: 600;
}

.detalhe-info div p:nth-child(1) {
  color: #444444;
}

.detalhe-info div p:nth-child(2) {
  color: #222;
}

.compare {
  margin-bottom: 30px;
}

.compare h2 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 10px;
}

.compare-lista {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 5px;
}

.compare-lista div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}

.compare-lista div:nth-child(odd) {
  background-color: #e4e4e4;
}

.compare-lista div:nth-child(even) {
  background-color: #f3f3f3;
}

.compare-lista div:nth-child(odd):hover {
  padding: 10px;
  cursor: pointer;
}

.compare-lista div:nth-child(even):hover {
  padding: 10px;
  cursor: pointer;
}

.compare-lista div p {
  font-size: 13px;
  font-weight: 500;
  color: #111;
}

#promo p {
  color: #19521d;
  font-weight: 600;
}

/* página de lista de compras */
.lista-secao {
  margin-bottom: 10px;
}

.lista-secao h2 {
  background-color: #836a85;
  padding: 20px;
  margin: -10px -20px 0 -20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(230, 230, 230);
}

.lista-produto {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.lista-produto:hover {
  background-color: #e2e2e2;
  padding: 20px;
  margin: 0px -20px 0px -20px;
  cursor: pointer;
}

.lista-produto > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.lista-produto > div > img {
  width: 70px;
}

.item-mais {
  display: flex;
  flex-direction: column;
}

.item-mais h3 {
  font-size: 16px;
  font-weight: 600;
}

.item-mais p {
  font-size: 13px;
  font-weight: 500;
  color: #777;
}

#divisor {
  margin: 0px -20px 0 -20px;
}

.lista-total {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #73bb78;
  margin: 25px -20px -25px -20px;
  padding: 20px 20px;
  cursor: pointer;
}

.lista-total:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

.lista-total ion-icon {
  font-size: 50px;
}

.valor-total {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.valor-total p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111;
}

.valor-total p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

/* página de login */
#login-titulo {
  font-size: 28px;
  font-weight: 700;
  color: #313131;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-user,
.form-senha,
.form-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form input[type="email"],
input[type="password"] {
  border-radius: 5px;
  border: none;
  background-color: #49174c;
  height: 25px;
  color: white;
}

form input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 3px solid #49174c;
  background-color: transparent;
  color: black;
}

form input::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.form-lembrar,
.form-btn {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #49174c;
}

.form-btn {
  gap: 5px;
}

form input[type="submit"] {
  border-radius: 5px;
  border: none;
  background-color: #505599;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #6066c4;
}